{% if request.user.is_authenticated %}

{{user}}
<a href="{% url 'logout_url' %}">Выйти</a>
<br>
<a href="{% url 'view_profile' %}">Перейти на свою страницу</a>
<a href="{% url 'edit_profile' %}">
    <button type="submit" class="btn btn-success btn-md" name="button">Update profile</button>
</a>
<br>
<a href="{% url 'people_url' %}">Найти друзей</a>

{% else %}
{% block content %}
<form action="" method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value='Login'>
</form>

{% endblock %}

<a href="{% url 'register_url'%}">Зарегистрироваться</a>
{% endif %}
