{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
{% block content %}

        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ city.as_p }}
            <input type="submit" class="btn btn-primary" value="Добавить">
        </form>

<hr>

        <a href="{% url 'edit_profile' %}">
            <button type="submit" class="btn btn-success btn-md" name="button">Cancel</button>
        </a>

{% endblock %}
