{% load staticfiles %}
{% block content %}

        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Если вашего города нет в списке, его можно <a href="{% url 'create_city' %}">добавить</a></p>
            {{ profile_form.as_p }}
            {{ user_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Change profile">
        </form>

<hr>

        <a href="{% url 'view_profile' %}">
            <button type="submit" class="btn btn-success btn-md" name="button">Cancel</button>
        </a>

{% endblock %}
